*{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
nav .imagenes{
	display: flex;
	flex-direction: row;
}
nav {
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height: 50%;
}
nav .dos{
	color: rgb(255, 255, 255);
}


li, ol{
	list-style: none;
}
img{
	border-radius: 50px;
}
.lol{
	padding-left: 20px;
}
nav .imagenes hr{
	margin-left: 20px;
	color: gray;
}
nav .tres{
	color: white;
	display: flex;
	justify-content: space-around;
}

nav .tres button{
	background-color: rgb(0, 204, 255);
	color: white;
	border: black;
	cursor: pointer;
	width: 120%;
	border-radius:1px;
	height: 40px;
}

.lista li:hover > .segunda{
	display: block;
}


nav div > .lista  {
	display: flex;
	font-size: 90%;
	padding-left: 0;
	justify-content: space-around;
}

nav .dos > .lista li{
	height: 70px;
	box-sizing: border-box
}
.lista .segunda{
	display: none;
} 

.sesion{
	margin:7%
	
}


nav .dos > .lista li:hover{
	border-bottom: 3px solid rgb(0, 204, 255);
}
.dos .lista > li{
	display: flex;
	justify-content: space-around;
	align-items: center ;
}
.dos{
	width: 65%;
}


.segunda{
	color: rgb(255, 255, 255);
	position: absolute;
	top: 70px;
	padding: 0%;
	width: 150px;
	text-align:center ;
	background-color: rgb(0, 0, 0);
}
.segunda li{
	padding-top: 15px;
	cursor: pointer
}
.lista li{
	cursor: pointer;
}
.segunda :hover{
	border-bottom: coral;
	background-color: rgb(54, 54, 54);
	color: white;
}
